.version.design /* version checker */
{
	color: #0000E0;
	background-color: #ED9082;
}

.html
{
	background-color: #DBDBDB;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 722px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#ppu9122-3
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -69px;
	margin-left: -205px;
}

#pu9122-3
{
	width: 0.01px;
	padding-bottom: 944px;
}

#u9122-3
{
	z-index: 2;
	min-height: 944px;
	top: 0px;
}

#u9122-3-bw
{
	z-index: 2;
}

#u1034-3
{
	z-index: 5;
	width: 236px;
	min-height: 944px;
	top: 0px;
	left: 50%;
	margin-left: -685px;
}

#u9024
{
	z-index: 37;
	width: 113px;
	top: 48px;
	left: 50%;
	margin-left: -628px;
}

#buttonu9055
{
	z-index: 39;
	width: 140px;
	top: 204px;
	left: 50%;
	margin-left: -662px;
}

#buttonu9055:hover
{
	margin: 0px 0px 0px -662px;
}

#buttonu9055.ButtonSelected
{
	margin: 0px 0px 0px -662px;
}

#u9056-4
{
	z-index: 40;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 7px;
}

#buttonu9055:hover #u9056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#buttonu9055.ButtonSelected #u9056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#u15231
{
	z-index: 44;
	width: 72px;
	height: 3px;
	top: 240px;
	left: 50%;
	margin-left: -622px;
}

#buttonu4239
{
	z-index: 32;
	width: 121px;
	padding-bottom: 8px;
	top: 264px;
	left: 50%;
	margin-left: -634px;
}

#buttonu4239.ButtonSelected
{
	margin: 0px 0px 0px -634px;
}

#u4240-4
{
	z-index: 33;
	width: 112px;
	min-height: 15px;
	margin-right: -10000px;
	left: 8px;
}

#buttonu4239:hover #u4240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4239.ButtonSelected #u4240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4227
{
	z-index: 12;
	width: 141px;
	padding-bottom: 3px;
	top: 291px;
	left: 50%;
	margin-left: -638px;
}

#buttonu4227.ButtonSelected
{
	margin: 0px 0px 0px -638px;
}

#u4228-4
{
	z-index: 13;
	width: 129px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 11px;
}

#buttonu4227:hover #u4228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4229
{
	z-index: 17;
	width: 136px;
	padding-bottom: 3px;
	top: 321px;
	left: 50%;
	margin-left: -656px;
}

#buttonu4229.ButtonSelected
{
	margin: 0px 0px 0px -656px;
}

#u4230-4
{
	z-index: 18;
	width: 103px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 27px;
}

#buttonu4227.ButtonSelected #u4228-4,#buttonu4229:hover #u4230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4231
{
	z-index: 22;
	width: 142px;
	padding-bottom: 5px;
	top: 352px;
	left: 50%;
	margin-left: -650px;
}

#buttonu4231.ButtonSelected
{
	margin: 0px 0px 0px -650px;
}

#u4232-4
{
	z-index: 23;
	width: 113px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 21px;
}

#buttonu4229.ButtonSelected #u4230-4,#buttonu4231:hover #u4232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4231.ButtonSelected #u4232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4233
{
	z-index: 27;
	width: 133px;
	padding-bottom: 10px;
	top: 387px;
	left: 50%;
	margin-left: -657px;
}

#buttonu4233.ButtonSelected
{
	margin: 0px 0px 0px -657px;
}

#u4234-4
{
	z-index: 28;
	width: 113px;
	min-height: 24px;
	margin-right: -10000px;
	left: 10px;
}

#buttonu4233:hover #u4234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4233.ButtonSelected #u4234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u75
{
	z-index: 8;
	width: 32px;
	top: 564px;
	left: 50%;
	margin-left: -622px;
}

#u83
{
	z-index: 10;
	width: 35px;
	top: 564px;
	left: 50%;
	margin-left: -549px;
}

#u83_img
{
	padding-right: 2px;
	padding-bottom: 2px;
}

#pu9221
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -69px;
	margin-left: 28px;
}

#u9221
{
	z-index: 45;
	width: 1128px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	position: relative;
	margin-right: -10000px;
}

#u9221_position_content
{
	margin-top: -26px;
}

#u7094
{
	z-index: 46;
	width: 1018px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 522px;
	margin-left: 52px;
	position: relative;
}

#u8147-4
{
	z-index: 49;
	width: 170px;
	min-height: 33px;
	background-color: transparent;
	font-size: 24px;
	color: #C39A6B;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 74px;
	left: 95px;
}

#u9224
{
	z-index: 47;
	width: 1018px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 532px;
	margin-left: 55px;
	margin-top: 49px;
	position: relative;
}

#u8840-4
{
	z-index: 53;
	width: 239px;
	min-height: 33px;
	background-color: transparent;
	font-size: 24px;
	color: #C39A6B;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 90px;
}

#u9225
{
	z-index: 48;
	width: 1018px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 523px;
	margin-left: 55px;
	margin-top: 50px;
	position: relative;
}

#u8922-4
{
	z-index: 57;
	width: 82px;
	min-height: 33px;
	background-color: transparent;
	font-size: 24px;
	color: #C39A6B;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 90px;
}

#pamphletu8715
{
	z-index: 61;
	width: 0.01px;
	height: 164px;
	padding-bottom: 310px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 150px;
}

#u8726popup
{
	z-index: 62;
}

#u8732
{
	z-index: 63;
	width: 809px;
	height: 465px;
	border-width: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u8754
{
	z-index: 64;
	width: 803px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 4px;
}

#u8754_img
{
	padding-bottom: 5px;
}

#u8757
{
	z-index: 66;
	width: 809px;
	height: 464px;
	border-width: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u8762
{
	z-index: 67;
	width: 806px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 3px;
}

#u8765
{
	z-index: 69;
	width: 809px;
	height: 465px;
	border-width: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
}

#u8770
{
	z-index: 70;
	width: 700px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 54px;
}

#u8773
{
	z-index: 72;
	width: 809px;
	height: 464px;
	border-width: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u8823
{
	z-index: 73;
	width: 810px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u8823_img
{
	padding-bottom: 2px;
}

#u8804
{
	z-index: 75;
	width: 809px;
	height: 464px;
	border-width: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u8817
{
	z-index: 76;
	width: 806px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u8817_clip
{
	overflow: hidden;
	width: 806px;
	height: 464px;
}

#u8817_img
{
	margin: -9px -8px 4px;
}

#u8829
{
	z-index: 78;
	width: 809px;
	height: 464px;
	border-width: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u8834
{
	z-index: 79;
	width: 809px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u8834_img
{
	padding-bottom: 8px;
}

#u8720
{
	z-index: 81;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 829px;
}

#u8722
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u8722:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	margin: 0px;
}

#u8761
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 29px;
}

#u8761:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	margin: 0px;
}

#u8769
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 57px;
}

#u8769:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	margin: 0px;
}

#u8777
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 85px;
}

#u8777:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	margin: 0px;
}

#u8808
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 114px;
}

#u8808:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	margin: 0px;
}

#u8833
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 142px;
}

#u8833:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu8841
{
	z-index: 88;
	width: 0.01px;
	height: 79px;
	padding-bottom: 394px;
	position: relative;
	margin-right: -10000px;
	margin-top: 731px;
	left: 150px;
}

#u8842popup
{
	z-index: 89;
}

#u8843
{
	z-index: 90;
	width: 809px;
	height: 465px;
	border-width: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u8880
{
	z-index: 91;
	width: 809px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u8852
{
	z-index: 93;
	width: 809px;
	height: 464px;
	border-width: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u8886
{
	z-index: 94;
	width: 808px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u8880_img,#u8886_img
{
	padding-bottom: 10px;
}

#u8846
{
	z-index: 96;
	width: 809px;
	height: 465px;
	border-width: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u8892
{
	z-index: 97;
	width: 807px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u8892_img
{
	padding-bottom: 11px;
}

#u8867
{
	z-index: 99;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 829px;
}

#u8869
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u8869:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	margin: 0px;
}

#u8871
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 29px;
}

#u8871:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	margin: 0px;
}

#u8870
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	top: 57px;
}

#u8870:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	margin: 0px;
}

#pamphletu8898
{
	z-index: 103;
	width: 0.01px;
	height: 22px;
	padding-bottom: 451px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1393px;
	left: 150px;
}

#u8726,#u8842,#u8899
{
	position: absolute;
	width: 825px;
	top: -4px;
	left: -4px;
}

#u8899popup
{
	z-index: 104;
}

#u8900
{
	z-index: 105;
	width: 809px;
	height: 465px;
	border-width: 8px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u8923
{
	z-index: 106;
	width: 809px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u8923_img
{
	padding-bottom: 9px;
}

#u8909
{
	z-index: 108;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 829px;
}

#u8911
{
	position: absolute;
	width: 16px;
	height: 16px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u8911:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	margin: 0px;
}

#u8722.PamphletThumbSelected,#u8761.PamphletThumbSelected,#u8769.PamphletThumbSelected,#u8777.PamphletThumbSelected,#u8808.PamphletThumbSelected,#u8833.PamphletThumbSelected,#u8869.PamphletThumbSelected,#u8871.PamphletThumbSelected,#u8870.PamphletThumbSelected,#u8911.PamphletThumbSelected
{
	background-color: #000000;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 69px;
}

#page .verticalspacer
{
	clear: both;
}

