.version.digital_design /* version checker */
{
	color: #0000E0;
	background-color: #FC073D;
}

.html
{
	background-color: #DBDBDB;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 539.9499999999958px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -71px;
}

#pu9122-3
{
	width: 0.01px;
	padding-bottom: 947px;
	margin-left: -205px;
}

#u9122-3
{
	z-index: 2;
	min-height: 944px;
	top: 0px;
}

#u9122-3-bw
{
	z-index: 2;
}

#u1034-3
{
	z-index: 5;
	width: 236px;
	min-height: 944px;
	top: 0px;
	left: 50%;
	margin-left: -685px;
}

#u9024
{
	z-index: 37;
	width: 113px;
	top: 48px;
	left: 50%;
	margin-left: -628px;
}

#u11983
{
	z-index: 45;
	width: 1126px;
	height: 945px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -452px;
}

#u11984
{
	z-index: 46;
	width: 1047px;
	height: 947px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
	top: -2px;
	left: 50%;
	margin-left: -416px;
}

#pu14635-4
{
	width: 0.01px;
	margin-left: 109px;
	margin-top: -908px;
}

#u14635-4
{
	z-index: 224;
	width: 214px;
	min-height: 32px;
	background-color: transparent;
	font-size: 28px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
}

#u12514-3
{
	z-index: 221;
	width: 5px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 1002px;
}

#slideshowu12110
{
	z-index: 47;
	width: 0.01px;
	height: 640px;
	margin-left: 109px;
	top: -837px;
	margin-bottom: -640px;
	position: relative;
}

#u12122
{
	position: absolute;
	width: 653px;
	height: 490px;
	background-color: transparent;
	left: 264px;
}

#u12122popup
{
	z-index: 48;
}

#u12262
{
	z-index: 49;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12289
{
	z-index: 51;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12289_img
{
	padding-left: 1px;
}

#u12125
{
	z-index: 53;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12307
{
	z-index: 55;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12325
{
	z-index: 57;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12298
{
	z-index: 59;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12271
{
	z-index: 61;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12316
{
	z-index: 63;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12280
{
	z-index: 65;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12385
{
	z-index: 67;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12448
{
	z-index: 69;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12448_img
{
	margin: 20px 1px -18px;
}

#u12457
{
	z-index: 71;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12448_clip,#u12457_clip
{
	overflow: hidden;
	width: 653px;
	height: 490px;
}

#u12457_img
{
	margin-left: -1px;
}

#u12112
{
	position: absolute;
	width: 211px;
}

#u12112popup
{
	z-index: 73;
}

#u12265
{
	z-index: 74;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u12265_img
{
	margin-top: -12px;
	margin-bottom: -40px;
}

#u12292
{
	z-index: 76;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u12265.SSSlideLinkSelected,#u12292.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u12113
{
	z-index: 78;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 1px;
}

#u12310
{
	z-index: 80;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 114px;
}

#u12328
{
	z-index: 82;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	left: 1px;
}

#u12310.SSSlideLinkSelected,#u12328.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 168px -10000px 0px 0px;
}

#u12301
{
	z-index: 84;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 114px;
}

#u12274
{
	z-index: 86;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 1px;
}

#u12301.SSSlideLinkSelected,#u12274.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 252px -10000px 0px 0px;
}

#u12319
{
	z-index: 88;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
}

#u12283
{
	z-index: 90;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
}

#u12388
{
	z-index: 92;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 336px;
	left: 114px;
}

#u12283.SSSlideLinkSelected,#u12388.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 336px -10000px 0px 0px;
}

#u12451
{
	z-index: 94;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 114px;
}

#u12113.SSSlideLinkSelected,#u12451.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 84px -10000px 0px 0px;
}

#u12451_img
{
	margin-left: -6px;
	margin-right: -7px;
}

#u12460
{
	z-index: 96;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 420px;
	left: 114px;
}

#u12319.SSSlideLinkSelected,#u12460.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 420px -10000px 0px 0px;
}

#u12265_clip,#u12451_clip,#u12460_clip
{
	overflow: hidden;
	width: 97px;
	height: 71px;
}

#u12460_img
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#u12130
{
	position: absolute;
	width: 193px;
	background-color: transparent;
	top: 502px;
	left: 605px;
}

#u12130popup
{
	z-index: 98;
}

#u12268-12
{
	z-index: 99;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12295-10
{
	z-index: 111;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12132-10
{
	z-index: 121;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12313-10
{
	z-index: 131;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12331-10
{
	z-index: 141;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12304-10
{
	z-index: 151;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12277-10
{
	z-index: 161;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12322-10
{
	z-index: 171;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12286-10
{
	z-index: 181;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12391-10
{
	z-index: 191;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12454-10
{
	z-index: 201;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12463-10
{
	z-index: 211;
	width: 173px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12268-2,#u12268-4,#u12295-2,#u12132-2,#u12313-2,#u12331-2,#u12304-2,#u12277-2,#u12322-2,#u12286-2,#u12391-2,#u12454-2,#u12463-2
{
	color: #C39A6B;
}

#u12268-6,#u12268-8,#u12268-10,#u12295-4,#u12295-6,#u12295-8,#u12132-4,#u12132-6,#u12132-8,#u12313-4,#u12313-6,#u12313-8,#u12331-4,#u12331-6,#u12331-8,#u12304-4,#u12304-6,#u12304-8,#u12277-4,#u12277-6,#u12277-8,#u12322-4,#u12322-6,#u12322-8,#u12286-4,#u12286-6,#u12286-8,#u12391-4,#u12391-6,#u12391-8,#u12454-4,#u12454-6,#u12454-8,#u12463-4,#u12463-6,#u12463-8
{
	color: #000000;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#buttonu9055
{
	z-index: 39;
	width: 140px;
	top: 204px;
	left: 50%;
	margin-left: -662px;
}

#buttonu9055:hover
{
	margin: 0px 0px 0px -662px;
}

#buttonu9055.ButtonSelected
{
	margin: 0px 0px 0px -662px;
}

#u9056-4
{
	z-index: 40;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 7px;
}

#buttonu9055:hover #u9056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#buttonu9055.ButtonSelected #u9056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#u15231
{
	z-index: 44;
	width: 72px;
	height: 3px;
	top: 240px;
	left: 50%;
	margin-left: -622px;
}

#buttonu4239
{
	z-index: 32;
	width: 121px;
	padding-bottom: 8px;
	top: 264px;
	left: 50%;
	margin-left: -634px;
}

#buttonu4239.ButtonSelected
{
	margin: 0px 0px 0px -634px;
}

#u4240-4
{
	z-index: 33;
	width: 112px;
	min-height: 15px;
	margin-right: -10000px;
	left: 8px;
}

#buttonu4239:hover #u4240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4239.ButtonSelected #u4240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4227
{
	z-index: 12;
	width: 141px;
	padding-bottom: 3px;
	top: 291px;
	left: 50%;
	margin-left: -638px;
}

#buttonu4227.ButtonSelected
{
	margin: 0px 0px 0px -638px;
}

#u4228-4
{
	z-index: 13;
	width: 129px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 11px;
}

#buttonu4227:hover #u4228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4229
{
	z-index: 17;
	width: 136px;
	padding-bottom: 3px;
	top: 321px;
	left: 50%;
	margin-left: -656px;
}

#buttonu4229.ButtonSelected
{
	margin: 0px 0px 0px -656px;
}

#u4230-4
{
	z-index: 18;
	width: 103px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 27px;
}

#buttonu4227.ButtonSelected #u4228-4,#buttonu4229:hover #u4230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4231
{
	z-index: 22;
	width: 142px;
	padding-bottom: 5px;
	top: 352px;
	left: 50%;
	margin-left: -650px;
}

#buttonu4231.ButtonSelected
{
	margin: 0px 0px 0px -650px;
}

#u4232-4
{
	z-index: 23;
	width: 113px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 21px;
}

#buttonu4229.ButtonSelected #u4230-4,#buttonu4231:hover #u4232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4231.ButtonSelected #u4232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4233
{
	z-index: 27;
	width: 133px;
	padding-bottom: 10px;
	top: 387px;
	left: 50%;
	margin-left: -657px;
}

#buttonu4233.ButtonSelected
{
	margin: 0px 0px 0px -657px;
}

#u4234-4
{
	z-index: 28;
	width: 113px;
	min-height: 24px;
	margin-right: -10000px;
	left: 10px;
}

#buttonu4233:hover #u4234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4233.ButtonSelected #u4234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u75
{
	z-index: 8;
	width: 32px;
	top: 564px;
	left: 50%;
	margin-left: -622px;
}

#u83
{
	z-index: 10;
	width: 35px;
	top: 564px;
	left: 50%;
	margin-left: -549px;
}

#u83_img
{
	padding-right: 2px;
	padding-bottom: 2px;
}

#u14984-4
{
	z-index: 241;
	width: 622px;
	min-height: 36px;
	background-color: transparent;
	font-size: 20px;
	font-weight: bold;
	margin-left: 279px;
	top: -111px;
	margin-bottom: -36px;
	position: relative;
}

#pu14965-4
{
	width: 0.01px;
	margin-left: -206px;
	margin-top: -75px;
}

#u14965-4
{
	z-index: 228;
	width: 470px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 451px;
}

#u14969-4
{
	z-index: 232;
	width: 470px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 29px;
	left: 451px;
}

#u14982
{
	z-index: 236;
	width: 1361px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
}

#u14983-4
{
	z-index: 237;
	width: 460px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 566px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 69px;
}

#page .verticalspacer
{
	clear: both;
}

