.Navigation,.Footer---Heading,.h1
{
	font-family: varela-round-n4, sans-serif;
}

.Body-Text,.Footer---Text,.Contact-Info,.h2,.h3
{
	font-family: questrial-n4, sans-serif;
}

.Contact-Form---Entry-Field,.Contact-Form---Field-Title
{
	font-family: pt-sans-n4, sans-serif;
}

.ts02-Body-Sans-Modern
{
	font-family: comfortaa-n7, sans-serif;
}

.ts02-Subtitle-Abel,.ts02-Title-Abel
{
	font-family: abel-n4, sans-serif;
}

#u14633-5,#u14634-19,#u14638-4,#u14853-5,#u14856-19,#u14854-4
{
	font-family: open-sans-n4, sans-serif;
}

