.version.packaging /* version checker */
{
	color: #00001C;
	background-color: #5291D5;
}

.html
{
	background-color: #DBDBDB;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 539.9999999999999px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -69px;
	margin-bottom: -2px;
}

#pu9122-3
{
	width: 0.01px;
	padding-bottom: 946px;
	margin-left: -205px;
}

#u9122-3
{
	z-index: 2;
	min-height: 944px;
	top: 0px;
}

#u9122-3-bw
{
	z-index: 2;
}

#u1034-3
{
	z-index: 5;
	width: 236px;
	min-height: 944px;
	top: 0px;
	left: 50%;
	margin-left: -685px;
}

#u9024
{
	z-index: 37;
	width: 113px;
	top: 48px;
	left: 50%;
	margin-left: -628px;
}

#u12810
{
	z-index: 45;
	width: 1126px;
	height: 944px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -452px;
}

#u12811
{
	z-index: 46;
	width: 1047px;
	height: 946px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -416px;
}

#u15005-4
{
	z-index: 134;
	width: 203px;
	min-height: 32px;
	background-color: transparent;
	font-size: 28px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 109px;
	top: -909px;
	margin-bottom: -34px;
	position: relative;
}

#slideshowu12812
{
	z-index: 47;
	width: 0.01px;
	height: 636px;
	margin-left: 114px;
	top: -838px;
	margin-bottom: -636px;
	position: relative;
}

#u12858
{
	position: absolute;
	width: 653px;
	height: 490px;
	background-color: transparent;
	top: 1px;
	left: 263px;
}

#u12858popup
{
	z-index: 48;
}

#u12865
{
	z-index: 49;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12865_img
{
	margin: -37px -2px -11px 1px;
}

#u12879
{
	z-index: 51;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12879_img
{
	margin-left: 1px;
	margin-top: -3px;
	margin-bottom: -44px;
}

#u12869
{
	z-index: 53;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12869_img
{
	margin-left: -36px;
	margin-right: -46px;
}

#u12873
{
	z-index: 55;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12873_img
{
	margin-left: 1px;
	margin-right: -83px;
}

#u12859
{
	z-index: 57;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12871
{
	z-index: 59;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12865_clip,#u12879_clip,#u12869_clip,#u12873_clip,#u12871_clip
{
	overflow: hidden;
	width: 653px;
	height: 490px;
}

#u12871_img
{
	margin: 1px -1px -48px 1px;
}

#u12867
{
	z-index: 61;
	width: 653px;
	height: 490px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12867_img
{
	padding-left: 1px;
}

#u12833
{
	position: absolute;
	width: 210px;
}

#u12833popup
{
	z-index: 63;
}

#u12848
{
	z-index: 64;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u12848.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 1px -10000px 0px 0px;
}

#u12848_img
{
	margin-top: -12px;
	margin-bottom: 3px;
}

#u12850
{
	z-index: 66;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 113px;
}

#u12850.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u12850_img
{
	margin-left: -3px;
	margin-right: -3px;
	margin-bottom: 2px;
}

#u12854
{
	z-index: 68;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 113px;
}

#u12854.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 84px -10000px 0px 0px;
}

#u12854_img
{
	margin-left: -4px;
	margin-right: -4px;
	margin-bottom: 1px;
}

#u12838
{
	z-index: 70;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 170px;
	left: 1px;
}

#u12838.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 170px -10000px 0px 0px;
}

#u12840
{
	z-index: 72;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 113px;
}

#u12840.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 169px -10000px 0px 0px;
}

#u12844
{
	z-index: 74;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 255px;
	left: 2px;
}

#u12844.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 255px -10000px 0px 0px;
}

#u12848_clip,#u12850_clip,#u12854_clip,#u12844_clip
{
	overflow: hidden;
	width: 97px;
	height: 71px;
}

#u12844_img
{
	margin-left: -1px;
	margin-right: -10px;
	margin-bottom: -1px;
}

#u12852
{
	z-index: 76;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 1px;
}

#u12852.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 83px -10000px 0px 0px;
}

#u12818
{
	position: absolute;
	width: 659px;
	background-color: transparent;
	top: 498px;
	left: 253px;
}

#u12818popup
{
	z-index: 78;
}

#u12822-10
{
	z-index: 79;
	width: 639px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12822-2
{
	color: #C39A6B;
}

#u12822-4,#u12822-6,#u12822-8
{
	color: #000000;
}

#u12820-6
{
	z-index: 89;
	width: 639px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12819-6
{
	z-index: 95;
	width: 639px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12825-6
{
	z-index: 101;
	width: 639px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12828-6
{
	z-index: 107;
	width: 639px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12827-6
{
	z-index: 113;
	width: 639px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12826-6
{
	z-index: 119;
	width: 639px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12820-2,#u12819-2,#u12825-2,#u12828-2,#u12827-2,#u12826-2
{
	font-size: 14px;
	text-align: left;
	color: #C39A6B;
}

#u12820-4,#u12819-4,#u12825-4,#u12828-4,#u12827-4,#u12826-4
{
	font-size: 13px;
	text-align: justify;
	color: #000000;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#buttonu9055
{
	z-index: 39;
	width: 140px;
	top: 204px;
	left: 50%;
	margin-left: -662px;
}

#buttonu9055:hover
{
	margin: 0px 0px 0px -662px;
}

#buttonu9055.ButtonSelected
{
	margin: 0px 0px 0px -662px;
}

#u9056-4
{
	z-index: 40;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 7px;
}

#buttonu9055:hover #u9056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#buttonu9055.ButtonSelected #u9056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#u15231
{
	z-index: 44;
	width: 72px;
	height: 3px;
	top: 240px;
	left: 50%;
	margin-left: -622px;
}

#buttonu4239
{
	z-index: 32;
	width: 121px;
	padding-bottom: 8px;
	top: 264px;
	left: 50%;
	margin-left: -634px;
}

#buttonu4239.ButtonSelected
{
	margin: 0px 0px 0px -634px;
}

#u4240-4
{
	z-index: 33;
	width: 112px;
	min-height: 15px;
	margin-right: -10000px;
	left: 8px;
}

#buttonu4239:hover #u4240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4239.ButtonSelected #u4240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4227
{
	z-index: 12;
	width: 141px;
	padding-bottom: 3px;
	top: 291px;
	left: 50%;
	margin-left: -638px;
}

#buttonu4227.ButtonSelected
{
	margin: 0px 0px 0px -638px;
}

#u4228-4
{
	z-index: 13;
	width: 129px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 11px;
}

#buttonu4227:hover #u4228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4229
{
	z-index: 17;
	width: 136px;
	padding-bottom: 3px;
	top: 321px;
	left: 50%;
	margin-left: -656px;
}

#buttonu4229.ButtonSelected
{
	margin: 0px 0px 0px -656px;
}

#u4230-4
{
	z-index: 18;
	width: 103px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 27px;
}

#buttonu4227.ButtonSelected #u4228-4,#buttonu4229:hover #u4230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4231
{
	z-index: 22;
	width: 142px;
	padding-bottom: 5px;
	top: 352px;
	left: 50%;
	margin-left: -650px;
}

#buttonu4231.ButtonSelected
{
	margin: 0px 0px 0px -650px;
}

#u4232-4
{
	z-index: 23;
	width: 113px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 21px;
}

#buttonu4229.ButtonSelected #u4230-4,#buttonu4231:hover #u4232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4231.ButtonSelected #u4232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4233
{
	z-index: 27;
	width: 133px;
	padding-bottom: 10px;
	top: 387px;
	left: 50%;
	margin-left: -657px;
}

#buttonu4233.ButtonSelected
{
	margin: 0px 0px 0px -657px;
}

#u4234-4
{
	z-index: 28;
	width: 113px;
	min-height: 24px;
	margin-right: -10000px;
	left: 10px;
}

#buttonu4233:hover #u4234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4233.ButtonSelected #u4234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u75
{
	z-index: 8;
	width: 32px;
	top: 564px;
	left: 50%;
	margin-left: -622px;
}

#u83
{
	z-index: 10;
	width: 35px;
	top: 564px;
	left: 50%;
	margin-left: -549px;
}

#u83_img
{
	padding-right: 2px;
	padding-bottom: 2px;
}

#u15004-4
{
	z-index: 130;
	width: 622px;
	min-height: 36px;
	background-color: transparent;
	font-size: 20px;
	font-weight: bold;
	margin-left: 279px;
	top: -114px;
	margin-bottom: -36px;
	position: relative;
}

#u15002
{
	z-index: 125;
	width: 1361px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 23px;
	left: -206px;
	top: -78px;
	margin-bottom: -76px;
	position: relative;
}

#u15003-4
{
	z-index: 126;
	width: 460px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 566px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 69px;
}

#page .verticalspacer
{
	clear: both;
}

