.version.publication /* version checker */
{
	color: #0000EB;
	background-color: #CC0005;
}

.html
{
	background-color: #DBDBDB;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1217px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -71px;
}

#pu9122-3
{
	width: 0.01px;
	padding-bottom: 1486px;
	margin-left: -205px;
}

#u9122-3
{
	z-index: 2;
	min-height: 944px;
	top: 0px;
}

#u9122-3-bw
{
	z-index: 2;
}

#u1034-3
{
	z-index: 5;
	width: 236px;
	min-height: 944px;
	top: 0px;
	left: 50%;
	margin-left: -685px;
}

#u9024
{
	z-index: 37;
	width: 113px;
	top: 48px;
	left: 50%;
	margin-left: -628px;
}

#u12622
{
	z-index: 45;
	width: 1126px;
	height: 1484px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -452px;
}

#u12623
{
	z-index: 46;
	width: 1047px;
	height: 1483px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
	top: -2px;
	left: 50%;
	margin-left: -416px;
}

#u14636-4
{
	z-index: 166;
	width: 214px;
	min-height: 32px;
	background-color: transparent;
	font-size: 28px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 109px;
	top: -1447px;
	margin-bottom: -34px;
	position: relative;
}

#slideshowu12624
{
	z-index: 47;
	width: 0.01px;
	height: 612px;
	margin-left: 109px;
	top: -1390px;
	margin-bottom: -612px;
	position: relative;
}

#u12644
{
	position: absolute;
	width: 653px;
	height: 465px;
	background-color: transparent;
	top: 1px;
	left: 235px;
}

#u12644popup
{
	z-index: 48;
}

#u12655
{
	z-index: 49;
	width: 653px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12655_img
{
	margin-top: 20px;
	margin-right: -2px;
	margin-bottom: 21px;
}

#u12653
{
	z-index: 51;
	width: 653px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12653_img
{
	margin: 20px -3px 22px 2px;
}

#u12740
{
	z-index: 53;
	width: 653px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12740_img
{
	margin: -12px 139px -13px 132px;
}

#u12651
{
	z-index: 55;
	width: 653px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12651_img
{
	margin: 40px -27px 46px -28px;
}

#u12661
{
	z-index: 57;
	width: 653px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12661_img
{
	margin-left: -13px;
	margin-right: -21px;
}

#u12647
{
	z-index: 59;
	width: 653px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12647_img
{
	margin: -9px 65px -16px;
}

#u12645
{
	z-index: 61;
	width: 653px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12645_img
{
	margin: 71px -29px 68px -18px;
}

#u12663
{
	z-index: 63;
	width: 653px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12663_img
{
	margin: 43px -30px 42px -31px;
}

#u12649
{
	z-index: 65;
	width: 653px;
	height: 465px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u12655_clip,#u12653_clip,#u12740_clip,#u12651_clip,#u12661_clip,#u12647_clip,#u12645_clip,#u12663_clip,#u12649_clip
{
	overflow: hidden;
	width: 653px;
	height: 465px;
}

#u12649_img
{
	margin: -11px 140px -12px 132px;
}

#u12669
{
	position: absolute;
	width: 211px;
}

#u12669popup
{
	z-index: 67;
}

#u12678
{
	z-index: 68;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u12688
{
	z-index: 70;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 114px;
}

#u12678.SSSlideLinkSelected,#u12688.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u12688_img
{
	margin-top: -3px;
	margin-right: -17px;
}

#u12743
{
	z-index: 72;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
}

#u12743_img
{
	padding-right: 1px;
}

#u12674
{
	z-index: 74;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	left: 114px;
}

#u12690
{
	z-index: 76;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 224px;
	left: 114px;
}

#u12690.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 224px -10000px 0px 0px;
}

#u12688_clip,#u12690_clip
{
	overflow: hidden;
	width: 97px;
	height: 71px;
}

#u12690_img
{
	margin-left: -6px;
	margin-right: -6px;
	margin-bottom: -3px;
}

#u12692
{
	z-index: 78;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
	left: 114px;
}

#u12682
{
	z-index: 80;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
}

#u12674.SSSlideLinkSelected,#u12682.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 310px -10000px 0px 0px;
}

#u12684
{
	z-index: 82;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
}

#u12692.SSSlideLinkSelected,#u12684.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 395px -10000px 0px 0px;
}

#u12676
{
	z-index: 84;
	width: 97px;
	height: 71px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 114px;
}

#u12743.SSSlideLinkSelected,#u12676.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 84px -10000px 0px 0px;
}

#u12625
{
	position: absolute;
	width: 522px;
	background-color: transparent;
	top: 474px;
	left: 299px;
}

#u12625popup
{
	z-index: 86;
}

#u12635-10
{
	z-index: 87;
	width: 502px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12634-10
{
	z-index: 97;
	width: 502px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12746-10
{
	z-index: 107;
	width: 502px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12627-6
{
	z-index: 117;
	width: 502px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12633-10
{
	z-index: 123;
	width: 502px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12628-6
{
	z-index: 133;
	width: 502px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12630-6
{
	z-index: 139;
	width: 502px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12632-6
{
	z-index: 145;
	width: 502px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12627-2,#u12628-2,#u12630-2,#u12632-2
{
	font-size: 14px;
	color: #C39A6B;
}

#u12627-4,#u12628-4,#u12630-4,#u12632-4
{
	font-size: 12px;
	color: #000000;
}

#u12629-10
{
	z-index: 151;
	width: 502px;
	min-height: 118px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u12635-2,#u12634-2,#u12746-2,#u12633-2,#u12629-2
{
	color: #C39A6B;
}

#u12635-4,#u12635-6,#u12635-8,#u12634-4,#u12634-6,#u12634-8,#u12746-4,#u12746-6,#u12746-8,#u12633-4,#u12633-6,#u12633-8,#u12629-4,#u12629-6,#u12629-8
{
	color: #000000;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#buttonu9055
{
	z-index: 39;
	width: 140px;
	top: 204px;
	left: 50%;
	margin-left: -662px;
}

#buttonu9055:hover
{
	margin: 0px 0px 0px -662px;
}

#buttonu9055.ButtonSelected
{
	margin: 0px 0px 0px -662px;
}

#u9056-4
{
	z-index: 40;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 7px;
}

#buttonu9055:hover #u9056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#buttonu9055.ButtonSelected #u9056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#u15231
{
	z-index: 44;
	width: 72px;
	height: 3px;
	top: 240px;
	left: 50%;
	margin-left: -622px;
}

#buttonu4239
{
	z-index: 32;
	width: 121px;
	padding-bottom: 8px;
	top: 264px;
	left: 50%;
	margin-left: -634px;
}

#buttonu4239.ButtonSelected
{
	margin: 0px 0px 0px -634px;
}

#u4240-4
{
	z-index: 33;
	width: 112px;
	min-height: 15px;
	margin-right: -10000px;
	left: 8px;
}

#buttonu4239:hover #u4240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4239.ButtonSelected #u4240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4227
{
	z-index: 12;
	width: 141px;
	padding-bottom: 3px;
	top: 291px;
	left: 50%;
	margin-left: -638px;
}

#buttonu4227.ButtonSelected
{
	margin: 0px 0px 0px -638px;
}

#u4228-4
{
	z-index: 13;
	width: 129px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 11px;
}

#buttonu4227:hover #u4228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4229
{
	z-index: 17;
	width: 136px;
	padding-bottom: 3px;
	top: 321px;
	left: 50%;
	margin-left: -656px;
}

#buttonu4229.ButtonSelected
{
	margin: 0px 0px 0px -656px;
}

#u4230-4
{
	z-index: 18;
	width: 103px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 27px;
}

#buttonu4227.ButtonSelected #u4228-4,#buttonu4229:hover #u4230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#u12761-4
{
	z-index: 161;
	width: 90px;
	min-height: 61px;
	background-color: transparent;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 114px;
	top: -1161px;
	margin-bottom: -65px;
	position: relative;
}

#buttonu4231
{
	z-index: 22;
	width: 142px;
	padding-bottom: 5px;
	top: 352px;
	left: 50%;
	margin-left: -650px;
}

#buttonu4231.ButtonSelected
{
	margin: 0px 0px 0px -650px;
}

#u4232-4
{
	z-index: 23;
	width: 113px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 21px;
}

#buttonu4229.ButtonSelected #u4230-4,#buttonu4231:hover #u4232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4231.ButtonSelected #u4232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4233
{
	z-index: 27;
	width: 133px;
	padding-bottom: 10px;
	top: 387px;
	left: 50%;
	margin-left: -657px;
}

#buttonu4233.ButtonSelected
{
	margin: 0px 0px 0px -657px;
}

#u4234-4
{
	z-index: 28;
	width: 113px;
	min-height: 24px;
	margin-right: -10000px;
	left: 10px;
}

#buttonu4233:hover #u4234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4233.ButtonSelected #u4234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u75
{
	z-index: 8;
	width: 32px;
	top: 564px;
	left: 50%;
	margin-left: -622px;
}

#u83
{
	z-index: 10;
	width: 35px;
	top: 564px;
	left: 50%;
	margin-left: -549px;
}

#u83_img
{
	padding-right: 2px;
	padding-bottom: 2px;
}

#u14988-4
{
	z-index: 170;
	width: 416px;
	min-height: 32px;
	background-color: transparent;
	font-size: 28px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 109px;
	top: -718px;
	margin-bottom: -34px;
	position: relative;
}

#u12787
{
	z-index: 165;
	width: 970px;
	min-height: 483px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 112px;
	top: -669px;
	margin-bottom: -489px;
	position: relative;
}

#u14991-4
{
	z-index: 183;
	width: 622px;
	min-height: 36px;
	background-color: transparent;
	font-size: 20px;
	font-weight: bold;
	margin-left: 279px;
	top: -70px;
	margin-bottom: -36px;
	position: relative;
}

#pu14986-4
{
	width: 0.01px;
	margin-left: -206px;
	margin-top: -34px;
}

#u14986-4
{
	z-index: 174;
	width: 460px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 566px;
}

#u14989
{
	z-index: 178;
	width: 1361px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
}

#u14990-4
{
	z-index: 179;
	width: 460px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 566px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 69px;
}

#page .verticalspacer
{
	clear: both;
}

