.version.website /* version checker */
{
	color: #0000F6;
	background-color: #183C2F;
}

.html
{
	background-color: #DBDBDB;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1916.9999999999955px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -69px;
}

#pu9122-3
{
	width: 0.01px;
	padding-bottom: 2036px;
	margin-left: -205px;
}

#u9122-3
{
	z-index: 2;
	min-height: 944px;
	top: 0px;
}

#u9122-3-bw
{
	z-index: 2;
}

#u1034-3
{
	z-index: 5;
	width: 236px;
	min-height: 944px;
	top: 0px;
	left: 50%;
	margin-left: -685px;
}

#u9024
{
	z-index: 37;
	width: 113px;
	top: 48px;
	left: 50%;
	margin-left: -628px;
}

#u14552
{
	z-index: 45;
	width: 1126px;
	height: 2036px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -452px;
}

#u14631
{
	z-index: 46;
	width: 1070px;
	height: 2026px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -424px;
}

#u14637-4
{
	z-index: 103;
	width: 166px;
	min-height: 32px;
	background-color: transparent;
	font-size: 28px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 109px;
	top: -1999px;
	margin-bottom: -34px;
	position: relative;
}

#pu14553
{
	width: 0.01px;
	margin-left: 109px;
	margin-top: -1925px;
}

#u14553
{
	z-index: 47;
	width: 798px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

#u14572
{
	z-index: 48;
	width: 798px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14632
{
	z-index: 53;
	width: 207px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	padding: 18px 19px 27px 28px;
}

#u14633-5
{
	z-index: 55;
	width: 148px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	position: relative;
}

#u14639
{
	z-index: 115;
	width: 202px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #917253;
	margin-top: 18px;
	position: relative;
}

#u14634-19
{
	z-index: 65;
	width: 207px;
	min-height: 185px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	margin-top: 26px;
	position: relative;
}

#u14638-4
{
	z-index: 107;
	width: 99px;
	min-height: 19px;
	background-color: transparent;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 28px;
}

#slideshowu14641
{
	z-index: 117;
	width: 0.01px;
	height: 368px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 320px;
}

#u14648popup
{
	z-index: 118;
}

#u15109
{
	z-index: 119;
	width: 573px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u15109_img
{
	padding-left: 77px;
	padding-right: 77px;
}

#u15118
{
	z-index: 121;
	width: 573px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u15118_img
{
	padding-left: 67px;
	padding-right: 68px;
}

#u14649
{
	z-index: 123;
	width: 573px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u14649_img
{
	padding-top: 47px;
	padding-bottom: 47px;
}

#u14672
{
	z-index: 125;
	width: 573px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u14672_img
{
	padding-top: 40px;
	padding-bottom: 40px;
}

#u14681
{
	z-index: 127;
	width: 573px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u14681_img
{
	padding-top: 42px;
	padding-bottom: 42px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#untitled
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 364px;
	left: 118px;
}

#pbuttonu9055
{
	width: 0.01px;
	margin-left: -182px;
	margin-top: -1832px;
}

#pbuttonu9055_position_content
{
	margin-top: -198px;
	padding-bottom: 593px;
}

#buttonu9055
{
	z-index: 39;
	width: 140px;
	top: 204px;
	left: 50%;
	margin-left: -662px;
}

#buttonu9055:hover
{
	margin: 0px 0px 0px -662px;
}

#buttonu9055.ButtonSelected
{
	margin: 0px 0px 0px -662px;
}

#u9056-4
{
	z-index: 40;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 7px;
}

#buttonu9055:hover #u9056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#buttonu9055.ButtonSelected #u9056-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#u15231
{
	z-index: 44;
	width: 72px;
	height: 3px;
	top: 240px;
	left: 50%;
	margin-left: -622px;
}

#buttonu4239
{
	z-index: 32;
	width: 121px;
	padding-bottom: 8px;
	top: 264px;
	left: 50%;
	margin-left: -634px;
}

#buttonu4239.ButtonSelected
{
	margin: 0px 0px 0px -634px;
}

#u4240-4
{
	z-index: 33;
	width: 112px;
	min-height: 15px;
	margin-right: -10000px;
	left: 8px;
}

#buttonu4239:hover #u4240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4239.ButtonSelected #u4240-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4227
{
	z-index: 12;
	width: 141px;
	padding-bottom: 3px;
	top: 291px;
	left: 50%;
	margin-left: -638px;
}

#buttonu4227.ButtonSelected
{
	margin: 0px 0px 0px -638px;
}

#u4228-4
{
	z-index: 13;
	width: 129px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 11px;
}

#buttonu4227:hover #u4228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4229
{
	z-index: 17;
	width: 136px;
	padding-bottom: 3px;
	top: 321px;
	left: 50%;
	margin-left: -656px;
}

#buttonu4229.ButtonSelected
{
	margin: 0px 0px 0px -656px;
}

#u4230-4
{
	z-index: 18;
	width: 103px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 27px;
}

#buttonu4227.ButtonSelected #u4228-4,#buttonu4229:hover #u4230-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4231
{
	z-index: 22;
	width: 142px;
	padding-bottom: 5px;
	top: 352px;
	left: 50%;
	margin-left: -650px;
}

#buttonu4231.ButtonSelected
{
	margin: 0px 0px 0px -650px;
}

#u4232-4
{
	z-index: 23;
	width: 113px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 21px;
}

#buttonu4229.ButtonSelected #u4230-4,#buttonu4231:hover #u4232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4231.ButtonSelected #u4232-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu4233
{
	z-index: 27;
	width: 133px;
	padding-bottom: 10px;
	top: 387px;
	left: 50%;
	margin-left: -657px;
}

#buttonu4233.ButtonSelected
{
	margin: 0px 0px 0px -657px;
}

#u4234-4
{
	z-index: 28;
	width: 113px;
	min-height: 24px;
	margin-right: -10000px;
	left: 10px;
}

#buttonu4233:hover #u4234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#buttonu4233.ButtonSelected #u4234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 0px -10000px 0px 0px;
}

#u75
{
	z-index: 8;
	width: 32px;
	top: 564px;
	left: 50%;
	margin-left: -622px;
}

#u83
{
	z-index: 10;
	width: 35px;
	top: 564px;
	left: 50%;
	margin-left: -549px;
}

#u83_img
{
	padding-right: 2px;
	padding-bottom: 2px;
}

#pu14843
{
	width: 0.01px;
	margin-left: 109px;
	margin-top: -1370px;
}

#u14843
{
	z-index: 50;
	width: 798px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 205px;
}

#u14844
{
	z-index: 51;
	width: 798px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14852
{
	z-index: 54;
	width: 202px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	padding: 18px 24px 32px 28px;
}

#u14853-5
{
	z-index: 60;
	width: 148px;
	min-height: 46px;
	background-color: transparent;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	position: relative;
}

#u14633-2,#u14853-2
{
	font-size: 18px;
	font-weight: 700;
}

#u14633-3,#u14853-3
{
	font-size: 16px;
	font-weight: 400;
}

#u14855
{
	z-index: 116;
	width: 202px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #917253;
	margin-top: 18px;
	position: relative;
}

#u14856-19
{
	z-index: 84;
	width: 197px;
	min-height: 185px;
	background-color: transparent;
	font-family: open-sans, sans-serif;
	margin-top: 26px;
	position: relative;
}

#u14634-2,#u14634-7,#u14856-2,#u14856-7
{
	color: #FFFFFF;
	font-weight: 700;
}

#u14634-4,#u14634-9,#u14634-11,#u14634-13,#u14634-14,#u14856-4,#u14856-9,#u14856-11,#u14856-13,#u14856-14
{
	font-size: 12px;
	color: #000000;
	font-weight: 400;
}

#u14634-5,#u14634-15,#u14634-17,#u14856-5,#u14856-15,#u14856-17
{
	color: #FFFFFF;
	font-weight: 400;
}

#u14854-4
{
	z-index: 111;
	width: 202px;
	min-height: 19px;
	background-color: transparent;
	color: #000000;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 28px;
}

#slideshowu14811
{
	z-index: 129;
	width: 0.01px;
	height: 368px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 320px;
}

#u14648,#u14816
{
	position: absolute;
	width: 573px;
	height: 368px;
	background-color: transparent;
}

#u14816popup
{
	z-index: 130;
}

#u14821
{
	z-index: 131;
	width: 573px;
	height: 368px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	margin-right: -10000px;
	position: relative;
}

#u14821_clip
{
	overflow: hidden;
	width: 573px;
	height: 368px;
}

#u14821_img
{
	margin: 35px -26px 35px -29px;
}

#u14877-4
{
	z-index: 147;
	width: 354px;
	min-height: 32px;
	background-color: transparent;
	font-size: 28px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: normal;
	margin-left: 108px;
	top: -813px;
	margin-bottom: -34px;
	position: relative;
}

#pu14872
{
	width: 0.01px;
	margin-left: 55px;
	margin-top: -742px;
}

#u14872
{
	z-index: 133;
	width: 1071px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14874-7
{
	z-index: 135;
	width: 230px;
	min-height: 115px;
	background-color: transparent;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 77px;
	left: 28px;
}

#u14874-2
{
	font-size: 20px;
}

#u14874-3,#u14874-5
{
	font-size: 14px;
}

#buttonu14875
{
	z-index: 142;
	width: 154px;
	border-color: #787878;
	background-color: #F2F0F0;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 62px;
}

#buttonu14875:hover
{
	background-color: #C39A6B;
	margin: 226px -10000px 0px 0px;
}

#u14876-4
{
	z-index: 143;
	width: 137px;
	min-height: 23px;
	background-color: transparent;
	color: #7F7F7F;
	font-size: 18px;
	letter-spacing: 1px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#buttonu14875:hover #u14876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 11px -10000px 0px 0px;
}

#buttonu14875.ButtonSelected #u14876-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 11px -10000px 0px 0px;
}

#buttonu14875:hover #u14876-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu14875.ButtonSelected #u14876-4 p
{
	color: #7F7F7F;
	visibility: inherit;
}

#u14994-4
{
	z-index: 156;
	width: 622px;
	min-height: 36px;
	background-color: transparent;
	font-size: 20px;
	font-weight: bold;
	margin-left: 279px;
	top: -45px;
	margin-bottom: -36px;
	position: relative;
}

#u14992
{
	z-index: 151;
	width: 1361px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	padding-bottom: 23px;
	left: -206px;
	top: -9px;
	margin-bottom: -9px;
	position: relative;
}

#u14993-4
{
	z-index: 152;
	width: 460px;
	min-height: 27px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 566px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 69px;
}

#page .verticalspacer
{
	clear: both;
}

