.version.digital_design /* version checker */
{
	color: #0000E5;
	background-color: #FD8228;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #C39A6B;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 587px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 1px;
}

#pu9792-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -2px;
}

#u9792-3
{
	z-index: 2;
	width: 204px;
	min-height: 588px;
	margin-right: -10000px;
}

#u9765
{
	z-index: 5;
	width: 32px;
	margin-right: -10000px;
	margin-top: 529px;
	left: 57px;
}

#u9767
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 528px;
	left: 112px;
}

#u9767_img
{
	padding-bottom: 1px;
}

#buttonu9769
{
	z-index: 9;
	width: 141px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 327px;
	left: 31px;
}

#buttonu9769.ButtonSelected
{
	margin: 327px -10000px 0px 0px;
}

#u9770-4
{
	z-index: 10;
	width: 129px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 11px;
}

#buttonu9769:hover #u9770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9771
{
	z-index: 14;
	width: 136px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 357px;
	left: 12px;
}

#buttonu9771.ButtonSelected
{
	margin: 357px -10000px 0px 0px;
}

#u9772-4
{
	z-index: 15;
	width: 103px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 28px;
}

#buttonu9769.ButtonSelected #u9770-4,#buttonu9771:hover #u9772-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9773
{
	z-index: 19;
	width: 142px;
	padding-bottom: 5px;
	margin-right: -10000px;
	margin-top: 387px;
	left: 18px;
}

#buttonu9773.ButtonSelected
{
	margin: 387px -10000px 0px 0px;
}

#u9774-4
{
	z-index: 20;
	width: 113px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 21px;
}

#buttonu9771.ButtonSelected #u9772-4,#buttonu9773:hover #u9774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9773.ButtonSelected #u9774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9775
{
	z-index: 24;
	width: 133px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 415px;
	left: 14px;
}

#buttonu9775.ButtonSelected
{
	margin: 415px -10000px 0px 0px;
}

#u9776-4
{
	z-index: 25;
	width: 113px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#buttonu9775:hover #u9776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9775.ButtonSelected #u9776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9779
{
	z-index: 29;
	width: 88px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 212px;
	left: 38px;
}

#buttonu9779:hover
{
	margin: 212px -10000px 0px 0px;
}

#buttonu9779.ButtonSelected
{
	margin: 212px -10000px 0px 0px;
}

#u9780-4
{
	z-index: 30;
	width: 76px;
	min-height: 23px;
	margin-right: -10000px;
	left: 5px;
}

#buttonu9779:hover #u9780-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#buttonu9779.ButtonSelected #u9780-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#buttonu9781
{
	z-index: 34;
	width: 111px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 236px;
	left: 8px;
}

#buttonu9781:hover
{
	margin: 236px -10000px 0px 0px;
}

#buttonu9781.ButtonSelected
{
	margin: 236px -10000px 0px 0px;
}

#u9782-4
{
	z-index: 35;
	width: 74px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 36px;
}

#buttonu9781:hover #u9782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9781.ButtonSelected #u9782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 5px -10000px 0px 0px;
}

#u9784
{
	z-index: 39;
	width: 113px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 42px;
}

#buttonu9786
{
	z-index: 41;
	width: 140px;
	margin-right: -10000px;
	margin-top: 183px;
	left: 7px;
}

#buttonu9786:hover
{
	margin: 183px -10000px 0px 0px;
}

#buttonu9786.ButtonSelected
{
	margin: 183px -10000px 0px 0px;
}

#u9787-4
{
	z-index: 42;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 7px;
}

#buttonu9786:hover #u9787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#buttonu9786.ButtonSelected #u9787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#pu11418
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -1px;
	margin-left: 205px;
}

#u11418
{
	z-index: 46;
	width: 563px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	position: relative;
	margin-right: -10000px;
}

#u11097
{
	z-index: 47;
	width: 515px;
	height: 588px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 26px;
}

#slideshowu13466
{
	z-index: 48;
	width: 0.01px;
	height: 406px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 42px;
}

#u13512
{
	position: absolute;
	width: 368px;
	height: 276px;
	background-color: transparent;
	left: 118px;
}

#u13512popup
{
	z-index: 49;
}

#u13535
{
	z-index: 50;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13533
{
	z-index: 52;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13521
{
	z-index: 54;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13523
{
	z-index: 56;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13519
{
	z-index: 58;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13531
{
	z-index: 60;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13525
{
	z-index: 62;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13527
{
	z-index: 64;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13513
{
	z-index: 66;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13515
{
	z-index: 68;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13529
{
	z-index: 70;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13529_img
{
	margin-top: 11px;
	margin-right: 1px;
	margin-bottom: -10px;
}

#u13517
{
	z-index: 72;
	width: 368px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13529_clip,#u13517_clip
{
	overflow: hidden;
	width: 368px;
	height: 276px;
}

#u13468
{
	position: absolute;
	width: 107px;
}

#u13468popup
{
	z-index: 74;
}

#u13479
{
	z-index: 75;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13471
{
	z-index: 77;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 57px;
}

#u13479.SSSlideLinkSelected,#u13471.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u13483
{
	z-index: 79;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
}

#u13491
{
	z-index: 81;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 57px;
}

#u13475
{
	z-index: 83;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
}

#u13491.SSSlideLinkSelected,#u13475.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 95px -10000px 0px 0px;
}

#u13487
{
	z-index: 85;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	left: 57px;
}

#u13481
{
	z-index: 87;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
}

#u13487.SSSlideLinkSelected,#u13481.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 143px -10000px 0px 0px;
}

#u13473
{
	z-index: 89;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
}

#u13477
{
	z-index: 91;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
}

#u13489
{
	z-index: 93;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 190px;
	left: 57px;
}

#u13477.SSSlideLinkSelected,#u13489.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 190px -10000px 0px 0px;
}

#u13485
{
	z-index: 95;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 57px;
}

#u13483.SSSlideLinkSelected,#u13485.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 48px -10000px 0px 0px;
}

#u13485_clip
{
	overflow: hidden;
	width: 50px;
	height: 37px;
}

#u13485_img
{
	margin-left: -3px;
	margin-right: -4px;
}

#u13469
{
	z-index: 97;
	width: 50px;
	height: 37px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
	left: 57px;
}

#u13473.SSSlideLinkSelected,#u13469.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 238px -10000px 0px 0px;
}

#u13494
{
	position: absolute;
	width: 141px;
	background-color: transparent;
	top: 278px;
	left: 287px;
}

#u13494popup
{
	z-index: 99;
}

#u13497-12
{
	z-index: 100;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13503-10
{
	z-index: 112;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13505-10
{
	z-index: 122;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13501-10
{
	z-index: 132;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13496-10
{
	z-index: 142;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13495-10
{
	z-index: 152;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13502-10
{
	z-index: 162;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13498-10
{
	z-index: 172;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13499-10
{
	z-index: 182;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13506-10
{
	z-index: 192;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13504-10
{
	z-index: 202;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13500-10
{
	z-index: 212;
	width: 121px;
	min-height: 108px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	margin-right: -10000px;
	position: relative;
}

#u13497-2,#u13497-4,#u13503-2,#u13505-2,#u13501-2,#u13496-2,#u13495-2,#u13502-2,#u13498-2,#u13499-2,#u13499-4,#u13506-2,#u13504-2,#u13500-2
{
	color: #C39A6B;
	font-weight: bold;
}

#u13497-6,#u13497-8,#u13497-10,#u13503-4,#u13503-6,#u13503-8,#u13505-4,#u13505-6,#u13505-8,#u13501-4,#u13501-6,#u13501-8,#u13496-4,#u13496-6,#u13496-8,#u13495-4,#u13495-6,#u13495-8,#u13502-4,#u13502-6,#u13502-8,#u13498-4,#u13498-6,#u13498-8,#u13499-6,#u13499-8,#u13506-4,#u13506-6,#u13506-8,#u13504-4,#u13504-6,#u13504-8,#u13500-4,#u13500-6,#u13500-8
{
	color: #000000;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 768px;
}

