.version.publication /* version checker */
{
	color: #000004;
	background-color: #541A04;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #C39A6B;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 579px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 1px;
}

#pu9792-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -2px;
}

#u9792-3
{
	z-index: 2;
	width: 204px;
	min-height: 588px;
	margin-right: -10000px;
}

#u9765
{
	z-index: 5;
	width: 32px;
	margin-right: -10000px;
	margin-top: 529px;
	left: 57px;
}

#u9767
{
	z-index: 7;
	width: 34px;
	margin-right: -10000px;
	margin-top: 528px;
	left: 112px;
}

#u9767_img
{
	padding-bottom: 1px;
}

#buttonu9769
{
	z-index: 9;
	width: 141px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 327px;
	left: 31px;
}

#buttonu9769.ButtonSelected
{
	margin: 327px -10000px 0px 0px;
}

#u9770-4
{
	z-index: 10;
	width: 129px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 11px;
}

#buttonu9769:hover #u9770-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9771
{
	z-index: 14;
	width: 136px;
	padding-bottom: 3px;
	margin-right: -10000px;
	margin-top: 357px;
	left: 12px;
}

#buttonu9771.ButtonSelected
{
	margin: 357px -10000px 0px 0px;
}

#u9772-4
{
	z-index: 15;
	width: 103px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 28px;
}

#buttonu9769.ButtonSelected #u9770-4,#buttonu9771:hover #u9772-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9773
{
	z-index: 19;
	width: 142px;
	padding-bottom: 5px;
	margin-right: -10000px;
	margin-top: 387px;
	left: 18px;
}

#buttonu9773.ButtonSelected
{
	margin: 387px -10000px 0px 0px;
}

#u9774-4
{
	z-index: 20;
	width: 113px;
	min-height: 15px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 21px;
}

#buttonu9771.ButtonSelected #u9772-4,#buttonu9773:hover #u9774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9773.ButtonSelected #u9774-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9775
{
	z-index: 24;
	width: 133px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 415px;
	left: 14px;
}

#buttonu9775.ButtonSelected
{
	margin: 415px -10000px 0px 0px;
}

#u9776-4
{
	z-index: 25;
	width: 113px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#buttonu9775:hover #u9776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9775.ButtonSelected #u9776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9779
{
	z-index: 29;
	width: 88px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 212px;
	left: 38px;
}

#buttonu9779:hover
{
	margin: 212px -10000px 0px 0px;
}

#buttonu9779.ButtonSelected
{
	margin: 212px -10000px 0px 0px;
}

#u9780-4
{
	z-index: 30;
	width: 76px;
	min-height: 23px;
	margin-right: -10000px;
	left: 5px;
}

#buttonu9779:hover #u9780-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#buttonu9779.ButtonSelected #u9780-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 0px -10000px 0px 0px;
}

#buttonu9781
{
	z-index: 34;
	width: 111px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 236px;
	left: 8px;
}

#buttonu9781:hover
{
	margin: 236px -10000px 0px 0px;
}

#buttonu9781.ButtonSelected
{
	margin: 236px -10000px 0px 0px;
}

#u9782-4
{
	z-index: 35;
	width: 74px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 36px;
}

#buttonu9781:hover #u9782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 5px -10000px 0px 0px;
}

#buttonu9781.ButtonSelected #u9782-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 5px -10000px 0px 0px;
}

#u9784
{
	z-index: 39;
	width: 113px;
	margin-right: -10000px;
	margin-top: 28px;
	left: 42px;
}

#buttonu9786
{
	z-index: 41;
	width: 140px;
	margin-right: -10000px;
	margin-top: 183px;
	left: 7px;
}

#buttonu9786:hover
{
	margin: 183px -10000px 0px 0px;
}

#buttonu9786.ButtonSelected
{
	margin: 183px -10000px 0px 0px;
}

#u9787-4
{
	z-index: 42;
	width: 119px;
	min-height: 23px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 7px;
}

#buttonu9786:hover #u9787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#buttonu9786.ButtonSelected #u9787-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	margin: 1px -10000px 0px 0px;
}

#pu11428
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 205px;
}

#u11428
{
	z-index: 46;
	width: 563px;
	border-style: none;
	border-color: transparent;
	background-color: #C39A6B;
	position: relative;
	margin-right: -10000px;
}

#u11429
{
	z-index: 47;
	width: 515px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 26px;
}

#u11429_position_content
{
	padding-top: 380px;
}

#u13723-4
{
	z-index: 158;
	width: 266px;
	min-height: 24px;
	background-color: transparent;
	font-size: 15px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 10px;
	position: relative;
}

#u11511
{
	z-index: 48;
	width: 470px;
	min-height: 177px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 10px;
	margin-top: 7px;
	position: relative;
}

#slideshowu13649
{
	z-index: 49;
	width: 0.01px;
	height: 341px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 36px;
}

#u13650
{
	position: absolute;
	width: 347px;
	height: 227px;
	background-color: transparent;
	left: 73px;
}

#u13650popup
{
	z-index: 50;
}

#u13657
{
	z-index: 51;
	width: 347px;
	height: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13657_img
{
	padding-bottom: 3px;
}

#u13659
{
	z-index: 53;
	width: 347px;
	height: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13659_img
{
	margin-left: -1px;
	margin-right: 1px;
	margin-bottom: 2px;
}

#u13651
{
	z-index: 55;
	width: 347px;
	height: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13651_img
{
	margin: -11px 78px -11px 75px;
}

#u13667
{
	z-index: 57;
	width: 347px;
	height: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13667_img
{
	margin: -1px -38px 1px -39px;
}

#u13655
{
	z-index: 59;
	width: 347px;
	height: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13655_img
{
	margin: -4px -2px -4px 2px;
}

#u13661
{
	z-index: 61;
	width: 347px;
	height: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13661_img
{
	padding-top: 1px;
}

#u13665
{
	z-index: 63;
	width: 347px;
	height: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13665_img
{
	margin-left: -40px;
	margin-right: -40px;
}

#u13663
{
	z-index: 65;
	width: 347px;
	height: 227px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u13659_clip,#u13651_clip,#u13667_clip,#u13655_clip,#u13665_clip,#u13663_clip
{
	overflow: hidden;
	width: 347px;
	height: 227px;
}

#u13663_img
{
	margin: -11px 79px -11px 74px;
}

#u13669
{
	position: absolute;
	width: 494px;
}

#u13669popup
{
	z-index: 67;
}

#u13680
{
	z-index: 68;
	width: 64px;
	height: 47px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u13670
{
	z-index: 70;
	width: 64px;
	height: 47px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
}

#u13670_img
{
	margin-top: -2px;
	margin-right: -12px;
}

#u13684
{
	z-index: 72;
	width: 64px;
	height: 47px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
}

#u13686
{
	z-index: 74;
	width: 64px;
	height: 47px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 430px;
}

#u13684.SSSlideLinkSelected,#u13686.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 109px -10000px 0px 0px;
}

#u13682
{
	z-index: 76;
	width: 64px;
	height: 47px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 430px;
}

#u13680.SSSlideLinkSelected,#u13682.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u13670_clip,#u13682_clip
{
	overflow: hidden;
	width: 64px;
	height: 47px;
}

#u13682_img
{
	margin-left: -4px;
	margin-right: -4px;
	margin-bottom: -2px;
}

#u13674
{
	z-index: 78;
	width: 64px;
	height: 47px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 430px;
}

#u13670.SSSlideLinkSelected,#u13674.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 54px -10000px 0px 0px;
}

#u13678
{
	z-index: 80;
	width: 64px;
	height: 47px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 169px;
	left: 430px;
}

#u13678.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 169px -10000px 0px 0px;
}

#u13672
{
	z-index: 82;
	width: 64px;
	height: 47px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 163px;
}

#u13672.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	margin: 163px -10000px 0px 0px;
}

#u13694
{
	position: absolute;
	width: 347px;
	background-color: transparent;
	top: 241px;
	left: 73px;
}

#u13694popup
{
	z-index: 84;
}

#u13697-11
{
	z-index: 85;
	width: 327px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	font-size: 11px;
	color: #000000;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u13700-11
{
	z-index: 96;
	width: 327px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	font-size: 11px;
	color: #000000;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u13695-11
{
	z-index: 107;
	width: 327px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	font-size: 11px;
	color: #000000;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u13696-6
{
	z-index: 118;
	width: 327px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 11px;
	line-height: 1.4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u13701-11
{
	z-index: 124;
	width: 327px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	font-size: 11px;
	color: #000000;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u13703-6
{
	z-index: 135;
	width: 327px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 11px;
	line-height: 1.4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u13702-6
{
	z-index: 141;
	width: 327px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	font-size: 11px;
	line-height: 1.4;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u13696-2,#u13703-2,#u13702-2
{
	text-align: left;
	color: #C39A6B;
}

#u13696-4,#u13703-4,#u13702-4
{
	text-align: justify;
	color: #000000;
}

#u13698-11
{
	z-index: 147;
	width: 327px;
	min-height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 1.4;
	font-size: 11px;
	color: #000000;
	text-align: left;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-right: -10000px;
	position: relative;
}

#u13697-2,#u13700-2,#u13695-2,#u13701-2,#u13698-2
{
	color: #C39A6B;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 768px;
}

